
<div class="jumbotron">
  <div class="container">
    <% flash.each do |type, msg| %>
      <div class="alert alert-success">
        <%= msg %>
      </div>
    <% end %>
    <h1 class="display-3">Bienvenue sur la liste des gossips</h1>
    <p>Retrouvez toute la liste des gossips publiés et n'hésitez pas à en rajouter de votre côté !</p>
    <p><%= link_to "Publier un nouveau gossip", new_gossip_path, class: "btn btn-primary btn-lg", role: "button"%></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @gossips.each do |gossip| %>
      <div class="col-md-4">
        <h2><%=gossip.title%></h2>
        <p>posté par <%= gossip.user.first_name %></p>
        <p>Nombre de like <%= gossip.likes.count %></p>
        <div>
          <%= link_to "Voir le gossip", gossip_path(gossip.id), class: "btn btn-primary btn-sm", role: "button"%> 
          <% if logged_in? %>
            <% like = Like.find_by(gossip_id: gossip.id, user_id: current_user.id)%>
            <% if like==nil %>
              <form action="/likes" method="post">
                <input type="hidden" name="gossip_id" value=<%=gossip.id%>> 
                <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %> >
                <input type="submit" value="Like">
              </form>
            <% else %>
              <% like = Like.find_by(gossip_id: gossip.id, user_id: current_user.id)%>
              <%= form_tag like_path(like.id), method: "delete" do %>
                <%= submit_tag "Dislike" %>
              <% end %>
            <% end %>
          <% end %><br>
        </div>
      </div>
    <% end%>
  </div>

  <hr>

</div>