<h1> Voici le gossip n°<%= @gossip.id%></h1>

<h2><%= @gossip.title %></h2>
<p><%= @gossip.content %></p><br>
<p>Nombre de like <%= @gossip.likes.count %></p>
<% if logged_in? %>
  <% like = Like.find_by(gossip_id: @gossip.id, user_id: current_user.id)%>
  <% if like==nil %>
    <form action="/likes" method="post">
      <input type="hidden" name="gossip_id" value=<%=@gossip.id%>> 
      <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %> >
      <input type="submit" value="Like">
    </form>
  <% else %>
    <% like = Like.find_by(gossip_id: @gossip.id, user_id: current_user.id)%>
    <%= form_tag like_path(like.id), method: "delete" do %>
      <%= submit_tag "Dislike" %>
    <% end %>
  <% end %>
<% end %><br>

<% if @gossip.user==current_user %>
  <%= link_to "Lien pour éditer le gossip", edit_gossip_path(@gossip.id),class: "btn btn-primary" %><br>
  <%= link_to "supprimer le gossip", gossip_path(@gossip.id), method: :delete, data: { confirm: 'Etes vous sûr ?' } %>
<% end %>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <p> Ecrit par <%= @gossip.user.first_name%><span> </span><%= @gossip.user.last_name%> </p>
    <p> de <%= link_to "#{@gossip.user.city.name}", city_path(@gossip.user.city.id)%></p>
    <%= link_to "Lien vers l'auteur", "/author/#{@gossip.user.first_name}",class: "btn btn-primary" %>
  </div>
</div>

