<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Bienvenue sur la page des gossips de <%= @city.name%></h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @city_gossips.each do |gossip| %>
      <div class="col-md-4">
        <h2><%=gossip.title%></h2>
        <p>posté par <%= gossip.user.first_name %></p>
        <p>Nombre de like <%= gossip.likes.count %></p>
        <p><%= link_to "Voir le gossip", gossip_path(gossip.id), class: "btn btn-secondary", role: "button"%></p>
        <% if logged_in? %>
          <% like = Like.find_by(gossip_id: gossip.id, user_id: current_user.id)%>
          <% if like==nil %>
            <form action="/likes" method="post">
              <input type="hidden" name="gossip_id" value=<%=gossip.id%>> 
              <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %> >
              <input type="submit" value="Like">
            </form>
          <% else %>
            <% like = Like.find_by(gossip_id: gossip.id, user_id: current_user.id)%>
            <%= form_tag like_path(like.id), method: "delete" do %>
              <%= submit_tag "Dislike" %>
            <% end %>
          <% end %>
        <% end %><br>
      </div>
    <% end%>
  </div>

  <hr>

</div>
